<form {{on "submit" (fn this.handleSubmit)}} aria-labelledby="form-title form-subtitle"
  aria-describedby="form-description" class="registration-form">
  <div class="registration-form__info">
    <h2 id="form-title">Sign up for Cats Weekly</h2>
    <div id="form-subtitle" aria-hidden="true">The world's leading cat newsletter</div>
    <p id="form-description">Just fill in the information below and we'll keep you up to date with all the latest and
      greatest news about
      cats.</p>
  </div>
  {{#if (not (is-empty this.formErrors))}}
    <div>
      <h3 role="alert" id="form-errors-heading">There are {{this.formErrors.length}} error(s) in this form</h3>
      <ul {{did-insert this.focusErrors}} tabindex="-1" aria-labelledby="form-errors-heading"
        class="registration-form__errors">
        {{#each this.formErrors as |error|}}
          <li>
            <a href="#{{dasherize error.path}}" id="{{dasherize error.path}}__error">{{error.message}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#if this.didSuccessfullySubmit}}
    <div>
      <h3 role="alert" id="form-success">Successfully Registered</h3>
      <p {{did-insert this.focusErrors}} tabindex="-1" aria-labelledby="form-errors-heading"
        class="registration-form__errors">
        Thank you for registering!
      </p>
    </div>
  {{/if}}
  <fieldset>
    <legend>
      Personal Information
    </legend>
    <div class="registration-form__fields">
      <label for="first-name">First Name (Required)</label>
      <input id="first-name" name="firstName" value={{this.formset.firstName}} {{on 'input' (fn this.updateField)}}
        placeholder="Henry" required />
      <label for="last-name">Last Name (Required)</label>
      <input id="last-name" name="lastName" value={{this.formset.lastName}} {{on 'input' (fn this.updateField)}}
        placeholder="Ford" required />
      <label for="email-address">Email Address (Required)</label>
      <input id="email-address" name="emailAddress"
        aria-describedby={{if (contains 'emailAddress' this.errorFields) "email-address__error"}}
        value={{this.formset.emailAddress}} {{on 'input' (fn this.updateField)}} placeholder="founder@ford.com"
        required />
      <label for="cats-owned">How many cats have you owned? (Required)</label>
      <input id="cats-owned" name="catsOwned"
        aria-describedby={{if (contains 'catsOwned' this.errorFields) "cats-owned__error"}}
        value={{this.formset.catsOwned}} {{on 'input' (fn this.updateField)}} type="number" placeholder="23" required />
    </div>
  </fieldset>
  <div class="registration-form__actions">
    <button type="submit">Sign up</button>
  </div>
</form>